  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body{
position: relative;
	margin: 0;
	padding: 0;
	bottom: 21px;
}

#topSection{
 background-color: #537ec5;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
 #midSection{
   
	  font-family: 'Montserrat', sans-serif;
	  background-color: white;
	 position: relative;
	 bottom: 21px;
  }

.bottomBit{
    background-color: #537ec5;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
	height:100px;
	width:100px;
}

  .hrCust {
    color: white;
    border-style: solid;
    width: 30%;
  }

  /*------------------------------------*\
	Text Styling
  \*------------------------------------*/

  .h1Main {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
  }

  .h2Cust {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
	margin-top:35px;
  }

  .aOlbCust {
    text-decoration: none;
    color: white;
  }

  .aOlbCust:hover {
    color: #F86624;
  }

.importantP{
font-weight: bold;
	color: black;
	text-align: center;
}
  /*------------------------------------*\
	Nav Bar
  \*------------------------------------*/
  .navBar li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-align: center;
    padding-right: 50px;
  }

  .navBar li:hover {
    color: red;
  }

  .navBar {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-decoration: none;
  }
  /*------------------------------------*\
	OLB Container 
  \*------------------------------------*/
  .obCont {
        margin: 0 auto;
    width: 90vw;
    max-width: 1400px;
    margin-bottom: 35px;
    box-sizing: border-box;
  }
.modelMain{
 text-align: center;
}
  
  /*------------------------------------*\
	Logo Section 
  \*------------------------------------*/
#rBlue{
 width: 70px;
  height: 20px;
  background-color: blue;
  position: absolute;
  display: inline;
  left: 35%;
  }
  #rPurple{
  width: 70px;
  height: 20px;
  background-color: purple;
  position: absolute;
  display: inline;
  left: 40%;
  
  }
  #rLblue{
  width: 70px;
  height: 20px;
  background-color: lightblue;
  position: absolute;
 left: 45%;
  }
  #rRed{
  width: 70px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 50%;
  }
  #rGreen{
  width: 70px;
  height: 20px;
  background-color: green;
  position: absolute;
 left: 55%;
  }
  #rOrange{
  width: 70px;
  height: 20px;
  background-color: orange;
  position: absolute;
 left: 60%;
  }

  /*------------------------------------*\
	Modal
  \*------------------------------------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn{
 font-family: 'Montserrat', sans-serif;
border: none;
	background-color: #537ec5;
	color: white;
	font-size: inherit;
}
#myBtn:hover{
   color: #F86624;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 20%;
}

#footer {
    background: #0070FF;
    line-height: 2;
    text-align: center;
    color: #042E64;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B;
}

  /*------------------------------------*\
	Button Footer
  \*------------------------------------*/

#closeButton{
width: 200px;
height: 60px;
	position: relative;
	bottom: 20px;
	border-style: none;
	border-radius: 5px;
}
