@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body{
position: relative;
	margin: 0;
	padding: 0;
	bottom: 21px;
	font-family: 'PT Sans', sans-serif;
}

#topSection{
 background-color: #537ec5;
	margin: 0;
	
}
 #midSection{
   
	  
	  background-color: white;
	 position: relative;
	 bottom: 21px;
  }

.bottomBit{
    background-color: #537ec5;
    margin: 0;
    
	height:100px;
	width:100px;
}

  .hrCust {
    color: white;
    border-style: solid;
    width: 30%;
  }

#ob-container{
	width:500px;
	margin:auto:
		
}
  /*------------------------------------*\
	Text Styling
  \*------------------------------------*/

  .h1Main {
    
    text-align: center;
    color: white;
  }

  .h2Cust {
  
    text-align: center;
    color: white;
	margin-top:35px;
  }

  .aOlbCust {
    text-decoration: none;
    color: white;
  }

  .aOlbCust:hover {
    color: #F86624;
  }

.importantP{
font-weight: bold;
	color: black;
	text-align: center;
}
  /*------------------------------------*\
	Nav Bar
  \*------------------------------------*/
  .navBar li {
    
    display: inline-block;
    text-align: center;
    padding-right: 50px;
  }

  .navBar li:hover {
    color: red;
  }

  .navBar {
    
    text-align: center;
  }
  /*------------------------------------*\
	OLB Container 
  \*------------------------------------*/
  .obCont {
        margin: 0 auto;
    width: 90vw;
    max-width: 1400px;
    margin-bottom: 35px;
    box-sizing: border-box;
  }
.modelMain{
 text-align: center;
}
  
  /*------------------------------------*\
	Button Footer
  \*------------------------------------*/

#closeButton{
width: 200px;
height: 60px;
	position: relative;
	bottom: 20px;
	border-style: none;
	border-radius: 5px;
}
